.home .hero img {
  max-width 450px!important
}

.navbar {
  .links {
    font-size: large!important;
    padding-right: 3rem;
  }
  .logo {
    height: 3.8rem!important;
  }
}

.site-name {
  display: none!important;
}

.repo-link {
  display: none!important;
}

.footer {
  img {
    max-width: 60%!important;
  }

  @media screen and (max-width: 719px) {
    font-size: small;
    img {
      max-width: 90%!important;
    }
  }
}

.people {
  display: flex;
  flex-flow: wrap;
  text-align: center;

  > a {
    box-sizing: border-box;
    padding: 1rem;
    flex-basis: 25%;
    max-width: 25%;
    @media screen and (max-width: 719px) {
      flex-basis: 33%;
      max-width: 33%;
    }
    @media screen and (max-width: 419px) {
      flex-basis: 50%;
      max-width: 50%;
    }

    &:hover {
      background-color: #eaecef;
      text-decoration: none;
    }

    img {
      border: 1px solid #eaecef;
      object-fit: cover;
    }

    .name {
      font-size: large;
    }
    .title {
      color: $textColor;
    }
  }
}


.theme-container.research {
  .research {
    display: flex;
    flex-flow: wrap;

    > a {
      box-sizing: border-box;
      padding: 1rem;
      flex-basis: 50%;
      max-width: 50%;
      @media screen and (max-width: 839px) {
        flex-basis: 100%;
        max-width: 100%;
      }
      @media screen and (max-width: 719px) {
        flex-basis: 50%;
        max-width: 50%;
      }
      @media screen and (max-width: 419px) {
        flex-basis: 100%;
        max-width: 100%;
      }

      &:hover {
        background-color: #eaecef;
        text-decoration: none;
      }

      img {
        border: 1px solid #eaecef;
        width: 100%;
        object-fit: cover;
      }

      .title {
        font-size: larger;
        padding-bottom: 0.5rem;
      }
      .description {
        color: $textColor;
        font-weight: initial;
      }
    }
  }
}