// body text
p {
  font-size: 15px;
  line-height: 1.6
}

h1:not(#main-title) {
  font-size: 27px;
  line-height: 1.35
}

h2 {
  font-size: 21px;
  line-height: 1.2
}

h3 {
  font-size: 17px;
  line-height: 1.2
}

h4, h5, h6 {
  color: yellow;
  font-size: 5rem;
}

svg {
  padding: 4px 4px;
}

.home .hero img {
  max-width 450px!important
}

.navbar {
  .links {
    font-size: large!important;
    padding-right: 3rem;
  }
  .logo {
    height: 3.8rem!important;
  }
}

.site-name {
  display: none!important;
}

.repo-link {
  display: none!important;
}

.footer {
  img {
    max-width: 60%!important;
  }

  @media screen and (max-width: 719px) {
    font-size: small;
    img {
      max-width: 90%!important;
    }
  }
}

.people {
  display: flex;
  flex-flow: wrap;
  text-align: center;

  > a {
    box-sizing: border-box;
    padding: 1rem;
    flex-basis: 25%;
    max-width: 25%;
    @media screen and (max-width: 719px) {
      flex-basis: 33%;
      max-width: 33%;
    }
    @media screen and (max-width: 419px) {
      flex-basis: 50%;
      max-width: 50%;
    }

    &:hover {
      background-color: #eaecef;
      text-decoration: none;
    }

    img {
      border: 1px solid #eaecef;
      object-fit: cover;
    }

    .name {
      font-size: large;
    }

    .title {
      color: $textColor;
    }

    .subtitle {
      font-weight: 700;
      color: $textColor;
    }
  }
}


.theme-container.research {
  .research {
    display: flex;
    flex-flow: wrap;

    > a {
      box-sizing: border-box;
      padding: 1rem;
      flex-basis: 50%;
      max-width: 50%;
      @media screen and (max-width: 839px) {
        flex-basis: 100%;
        max-width: 100%;
      }
      @media screen and (max-width: 719px) {
        flex-basis: 50%;
        max-width: 50%;
      }
      @media screen and (max-width: 419px) {
        flex-basis: 100%;
        max-width: 100%;
      }

      &:hover {
        background-color: #eaecef;
        text-decoration: none;
      }

      img {
        border: 1px solid #eaecef;
        width: 100%;
        object-fit: cover;
      }

      .title {
        font-size: larger;
        padding-bottom: 0.5rem;
      }

      .description {
        color: $textColor;
        font-weight: initial;
      }
    }
  }
}

.component.action {
  margin: 1rem auto;
  text-align: center;

  a {
    display: inline-block;
    font-size: 1.2rem;
    color: #fff;
    background-color: $accentColor;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color .1s ease;
    box-sizing: border-box;
    border-bottom: 1px solid #d46b00;
  }
}